<div class="description">
  <h2>Trello - projets</h2>
  <p>Ici vous trouverez la description de vos projets</p>
</div>
<div *ngFor="let project of ( projects | filter : projectId)" >
    <h1>{{project.name}}</h1>
    <!--Faire la commande pour modifier le projet-->
    <div class="row contenant">
        <div class="col-md-2 contenu">
            <h4>Collaborateurs</h4>
            <!--Lien vers les noms des collab de la bdd-->
            <p *ngFor="let collabos of project.collaborateur">{{collabos}}</p>
        </div>
        <div class="col-md-2 contenu">
            <h4>Dates</h4>
            <!--lien vers les dates du projets dans la bdd-->
            <p>date début : {{project.dateDebut}}</p>
            <p>date fin prévu : {{project.dateFin}}</p>
        </div>


        <div class="col-md-4 contenu">
            <h4>"Description"</h4>
            <!--lien vers la description du projet dans la bdd-->
            <p>{{project.description}}</p>
        </div>
        <div class="col-md-4 contenu">
            <h4>Notes</h4>
            <!--lien vers les notes dans la bdd-->
            <p>{{project.notes}}</p>
        </div>
    </div>

    <div class="taches">
        <!--page separé en 12 colonne et cette partie là en prendra 4-->
        <h2>Taches</h2>
        <p>les dernières taches modifiées</p>
    </div>
</div>
